# Type : divisionId
# Required: Optional
# Note : Set this to skip division resolution if you already know your division's Id
# DIVISION_ID="b4f09a9f-4cba-4a7c-bf58-2e63bc2e913d"

# Type: bbox
# Required: Optional
# Note : Set this if you have a narrower area within a division you want to focus on.
#        If these aren't set, the BBox will be determined by the selected dividion's geometry.
# BBOX_XMIN=113.77
# BBOX_XMAX=114.57
# BBOX_YMIN=22.08
# BBOX_YMAX=22.63
