# Type : divisionId
# Required: No
# Default : None
# Note : Set this to skip division resolution if you already know your division's Id
# DIVISION_ID="b4f09a9f-4cba-4a7c-bf58-2e63bc2e913d"

# Type: featureType
# Required: No
# Default: All
# Note : Set this to limit downloads to specific feature types
# FEATURE_TYPES="building,address,segment"

# Type: releaseVersion
# Required: No
# Default : Latest
# Note : Set this to use a specific Overture Maps release version
# RELEASE_VERSION="2025-10-22.0"

# Type: filterMode
# Required: No
# Default : Division
# Note : Set this to use a specific Overture Maps release version
# Options : 'division' | 'bbox' | 'world'
# TARGET="division"

# Type: bbox
# Required: No
# Default : Inferred from Division's geometry
# Note : Only set this if you want a narrower area within a division than the division iteself.
# BBOX_XMIN=113.77
# BBOX_XMAX=114.57
# BBOX_YMIN=22.08
# BBOX_YMAX=22.63

# Type: onFileExists
# Options : skip|replace|abort
# Required: No
# Default : Skip
# Note : Set default behavior when files already exist
# ON_FILE_EXISTS="skip"

# Type: locale
# Options : ISO language codes
# Required: No
# Default : en
# Note : Names are localised to this locale where available
# LOCALE="en"

# Type: boolean
# Required: No
# Default: false
# Note: Set to true to skip division boundary geometry filtering
# NO_CLIP=1
